apiVersion: batch/v1
kind: Job 
metadata:
  name: driver
  namespace: gleam
spec:
  template:
    spec:
      volumes:
      - name: gleam-data
        persistentVolumeClaim:
          claimName: gleam-pvc
          readOnly: true
      containers:
      - name: driver-container
        image: eisokant/driver
        args: ["driver", "--onDocker", "--query=test", "--path=/data/siva/latest/00"]
        volumeMounts:
        - name: gleam-data
          mountPath: /data
          
      restartPolicy: Never